<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Benvenidos a {{ title }}!
  </h1>
  <h1>
    acá está el resultado de la suma {{a+b}} <!-- string interpolation -->
  </h1>
<hr>
<button [disabled]="!listo" (click)="hacerAlgo()" >Click me!</button> <!-- propiety binding [] enviar info de html a ts -->
<!-- Event Binding () escuchar eventos, se asigna un evento que va ejecutar una función, eventos provocados por el usuario-->
<hr>
<input type="text" placeholder="Tu nombre" [(ngModel)]="nombre">
<input type="text" placeholder="Tu Apellido" [(ngModel)]="apellido">
<br>
<h2>Tu nombre es {{nombre}} {{apellido}} </h2>

<!-- comunicación bidireccional [{ngModel}]-->
